*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(74, 74, 87);
    justify-content: center;
}
.Coordonées{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.Titre{
    color: white;
}